<p>Dear Students,</p><p>Please take a look at the predefined error codes <a href="https://developers.google.com/maps-booking/reference/grpc-api-v2/status_codes" rel="noopener noreferrer" target="_blank"><strong>here</strong></a><strong>.</strong></p><p>Thanks.</p>